*{
    margin: 0;
    padding: 0;
    
}


nav{
    
    background-color: black;
    color: white;
    font-size: 27px;
    height: 65px;
    display: flex;
    padding: 0 12px;
    align-items: center;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: roboto,sans-serif;

}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(242, 233, 251);
}
.info{
    font-size: 25px;
}
.gameinfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2',cursive;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
border-right: 0;
}
.bl-0{
border-left: 0;
}
.bt-0{
border-top: 0;
}
.bb-0{
border-bottom: 0;
}
#reset{
    padding: 6px 14px;
    border-radius: 10px;
    margin: 0 23px;
    cursor: pointer;
    background-color: aquamarine;
    font-family:'Baloo Bhaina 2';
    font-size: 25px;
    
}

@media screen and (max-width:800px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }

}
